/*position*/
body {margin:0;padding:0}
#wrap {width:100%;max-width:750px;margin:24px auto}
/*position*/
#header, #controls {padding: 8px 32px}
#content, #footer {padding: 32px}
#header > * {display:inline}
#header > p {padding-left: 3em}
.post {margin-bottom: 32px}
.post > h2 {margin-top:0; padding-top:0; padding-bottom:0px; margin-bottom:5px}

/*fonts*/
body{font-family:Georgia,"Times New Roman",Times,serif}
.trivia {font-size: small}
#footer{text-align:center;font-size:small;font-family:"Courier New","Courier",monospace;}

/*colors and borders*/
body {background-color:#F3F3F3}
#wrap {border:solid 1px #ccc;background-color:#fff}
#header {background-color:#f9f9f9}
#header, #controls {border-bottom:solid 1px #ccc}
#controls a{color: blue !important}
h1 > a, h2 > a {text-decoration:none; color:black}
#footer{border-top:solid 1px #ccc;color:#333333}

/*fancy*/
#tags a::after{content: "\a0(" attr(data-count) ")"}
#email{cursor: pointer}


/*articles*/
p {text-align: justify}
blockquote{background-color:#f9f9f9;border-left:solid 4px #e9e9e9;margin-left:12px;padding:12px 12px 12px 24px;}
blockquote > img{margin:12px 0px;}
blockquote > iframe{margin:12px 0px;}
/*code*/
pre {white-space: pre-wrap; word-wrap:break-word}
pre, tt, code {border: 1px solid gray;background: lightgray;}
pre > code {border:none}
/*microlight*/
.keyword, .punctuation {font-weight:bold}
.comment {font-variant: italic; opacity: 0.65}
.string {color: navy}

/*cache links*/
a[href^="/cache/"], a[href^="http://archive.is/"]
{font-size: x-small;vertical-align: sub;}

.toc {
	position: fixed;
	top: 0px;
	right: 0px;
	width: calc((100% - 874px - 24px)/2);
}
.toc > h2 {font-size: 1em;}
.toc > a {
	display: block;
	margin-bottom: 1ex;
}
